<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        
        <div class="media-body">
          <button type="button" class="btn btn-default btn-lg pull-right">
            <span ng-hide="edit === true" class="glyphicon glyphicon-pencil" ng-click="editProfile()" aria-hidden="true"></span>
            <span ng-show="edit === true" class="glyphicon save glyphicon-floppy-disk" ng-click="saveProfile()" aria-hidden="true"></span>
          </button>
          <h2 class="media-heading">
          <span ng-hide="edit === true">{{user.email}}</span>
          <input type="text" class="search" ng-model="user.email" ng-show="edit === true"/>
          </h2>
          Mongo ID: {{user._id}}
          
          <h4>Subscriptions:</h4>
          <div class="panel-body">
            <div class="row show-list">
              <div class="col-xs-4 col-md-3" ng-repeat="show in shows | orderBy:'rating':true">
                <a href="/shows/{{show._id}}">
                  <img class="img-rounded" ng-src="{{show.poster}}" width="100%"/>
                </a>
                <div class="text-center">
                  <a href="/shows/{{show._id}}">{{show.name}}</a>
                  <p class="text-muted">Episodes: {{show.episodes.length}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
</div>